---
// src/components/footer.astro
---
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Mundo AEC</h3>
                <p>Tecnologia aberta para toda a cadeia da construção. Um ecossistema integrado de soluções.</p>
            </div>
            <div class="footer-column">
                <h3>Ecossistema</h3>
                <ul class="footer-links">
                    <li><a href="/autosinapi">AutoSINAPI API</a></li>
                    <li><a href="/tools">Ferramentas Web</a></li>
                    <li><a href="/foton">Comunidade Foton</a></li>
                    <li><a href="https://comunidade.mundoaec.com/">Redmine Comunidade</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Desenvolvimento</h3>
                <ul class="footer-links">
                    <li><a href="https://github.com/LAMP-LUCAS/foton">Foton (GitHub)</a></li>
                    <li><a href="https://github.com/LAMP-LUCAS/foton_cash_flow">Plugin Fluxo de Caixa</a></li>
                    <li><a href="https://github.com/LAMP-LUCAS/autoSINAPI_API">AutoSINAPI API (GitHub)</a></li>
                    <li><a href="https://github.com/LAMP-LUCAS">Todos os Repositórios</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contato</h3>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope"></i> contato@mundoaec.com</li>
                    <li><i class="fab fa-github"></i> github.com/LAMP-LUCAS</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Mundo AEC. Feito com ♥ por uma comunidade que acredita que o futuro da construção é aberto, integrado e acessível.</p>
        </div>
    </div>
</footer>