---
// src/components/header.astro
---
<header class="site-header">
    <div class="container header-container">
        <div class="logo">
            <i class="fas fa-lightbulb"></i>
            <a href="/" style="color: inherit; text-decoration: none;"> <span>MUNDO AEC</span></a>
        </div>
        <nav />
        <div class="cta-btns">
            <a href="/foton" class="btn" style="zoom: 120%;">Comunidade</a>
            <a href="/tools" class="btn btn-outline">Ferramentas</a>
            <a href="/autosinapi" class="btn btn-outline">AutoSINAPI</a>
        </div>
    </div>
</header>