---
// src/components/nav.astro
---
<nav>
    <ul>
        <li><a href="#why">O Porquê</a></li>
        <li><a href="#ecosystem">Ecossistema</a></li>
        <li><a href="#journey">Jornada AEC</a></li>
        <li><a href="/foton">Comunidade</a></li>
        <li><a href="https://github.com/LAMP-LUCAS">GitHub</a></li>
    </ul>
</nav>